
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>About me</h1>
    </header>

    <div id="Main">
        <aside id="Menu">
            <div id="MenuItem1">
                <a href="/">
                    Home
                </a>
            </div>
            <div id="MenuItem2">
                <a href="/Home/About">
                    About
                </a>
            </div>
        </aside>
    </div>

    
</body>
</html>
