
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <header>
        About me
    </header>
    <div>
        <h2>text</h2>
    </div>
</body>
</html>
